package.json
.shadowenv.d
.vscode
node_modules
apps/OnlyBundles-app/prisma
apps/OnlyBundles-app/public
apps/OnlyBundles-app/.shopify
apps/OnlyBundles-website/dist
apps/OnlyBundles-website/.astro
apps/OnlyBundles-website/.wrangler
